# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
dist
node_modules/
/.pnp
.pnp.js
storybook-static
packages/**/coverage
packages/**/node_modules
*.log
*.cache
yarn-error.log

# nyc test coverage
.nyc_output

# testing
/coverage
coverage
# Ignore coverage.json file
coverage.json

# dotenv environment variables file
.env
.env.*


.out
.storybook-out

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*
